@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  /* 確保沒有 display: flex */
  display: block; 
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* 淺灰色背景，避免變全黑 */
}

/* 自定義捲軸樣式 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* 捲軸變細 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* 軌道透明 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* 捲軸顏色 (淺灰) */
  border-radius: 20px; /* 圓角 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* 滑鼠經過變深 */
}

